body {
  background-color: rgb(242, 243, 245) !important;
}

.margin{
  margin-left: 100px;
  margin-right: 100px;
}


.grey-top{
    background-color: darkslategray; 
    height: 50px;
    width: 100vw;
    padding-left: 0px;
    padding-right: 150px !important;
    padding-bottom: 10px;
    border-bottom-width: 50px;
    margin-bottom: 0px;
    margin-left: -12px;
  }

.white{
  color: white;
}

.profile{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.white-top{
  background-color: white; 
  height: 80px;
  width: 100vw;
  padding-left: 150px !important ;
  padding-right: 150px !important;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom-width: 50px;
  margin-bottom: 20px;
  margin-left: -12px;
}

.logo{
  margin-bottom: -20px;
  font-size: 14px;
}

li{
  padding-right: 30px;
  padding-left: 30px;
}

.red-grid{
  margin-bottom: 20px;
}

.red-exclamation{
  margin-left: -12.5px;
  margin-top: -13px;
  margin-bottom: -13px;
  margin-right: 20px;
}

.navbar{
  margin-left: 60px;
  margin-right: 150px;
  border-style: solid;
  border-color: rgb(124, 26, 26);

}

.greygrid{
  background-color: grey;
  height: 40px;
  width: 30px;
  text-align: center;
}

.picranking{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.ranking{
  border-style: solid;
  border-color: black;
  width: 50px;
  height: fit-content;
  margin-right: 10px;
}

.white-grid{
  background-color: white;
  float: right;
  border-style: solid;
  border-color: black;
  height: fit-content;
}

.stats{
  margin-top: 30px;
  border: 0.5px solid;
  border-color: grey;
  height: 300px;
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
}

.progress-bar{
  width: 70%;
}

.bar{
  margin-top: 30px;
  text-align: center;
}

.tab{
  margin-top: -30px;
}

.table-row {
  padding: 8px;
  margin-left: -12px;
  margin-right: -12px;
}

.mt-20{
  margin-top: 20px !important;
}

.ranking-bottom{
  margin-top: -60px;
  margin-right: 30px;
  padding-right: 10px;
  margin-left: -10px;
  border: 3px solid;
  height: fit-content;
}

.ranking-bottom-two{
  margin-top: -450px !important;
  margin-bottom: 200px;
  border: 3px solid black;
  margin-left: -10px;
  width: 50px;
  height: fit-content;
}

.mb-500{
  margin-bottom: 500px;
}

.image-menu{
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin-right: 10px;
  margin-top: 20px;
}

.change-pw{
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.vl {
  border-left: 1px solid black;
  height: 30px;
}

.thick-left-border {
  border: 2px solid darkblue; 
  border-left-width: 5px;
  padding: 0px; 
  margin-left: -11px;
  margin-right: -11px;
  padding: 5px;
}

.rank{
  margin-left: -20px;
  margin-right: -20px;
}

.thick-left-border-two{
  border: 2px solid darkblue;
  border-left-width: 5px;
  padding: 0px !important;
}

.ml-100{
  margin-left: 100px !important;
}

.mr-100{
  margin-right: 200px !important;
}

.img-rank{
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  margin-top: 10px;
  margin-left: -20px;
}

.greygrid-in-blue-border{
  margin-top: 5px;
  margin-left: 10px;
}

.hr-ranking{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.pt-40{
  padding-top: 40px;
}

.pl-20{
  padding-left: 20px;
}

.signed-or-not{
  margin-top: 30px !important;
  text-align: center;
  color: grey;
}

.ml-20{
  margin-left: 100px;
}

.p-10{
  padding: 10px;
}

.pb-30{
  padding-bottom: 30px;
}

.p-20{
  padding: 20px;
}

.emblazoned-ranking{
  background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220)) !important;
} 
